# Application
NODE_ENV=development
PORT=3000

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=Pizzeria Jetski Demo
DB_USER=demo_user
DB_PASSWORD=test_demo123
DB_CONNECTION_STRING_EXAMPLE=DATABASE_URL="postgresql://demo_user:test_demo123@localhost:5432/pizzeria_jetski"
